* {
    margin: 0;
    padding: 0;
}


@media (max-width: 999px) {
    canvas {
        max-width: 100%;
        max-height: 100vh;
        padding-top: 0;
    }

    span#score {
        font-size: .6em;
    }

    span#scoreEL {
        font-size: .6em;
    }
}

@media (max-width: 400px) {
    canvas {
        max-width: 100%;
        max-height: 100vh;
    }
}